<aside>
	<div class="well well-lg">
		<h5>Images To Open</h5>
		<ul>
			
			{{#each image in controller}}
		  		{{image-item item=image}}
			{{/each}}
			<hr>
			{{outlet}}
		</ul>
	</div>
</aside>



